@import "./base/mixins";
@import "./base/responsive";
@import "./base/input";
@import "./base/datepicker";
@import "./base/table";

* {
    color: #161616;
    font-size: 62.5%;
    letter-spacing: normal;
    font-family: "NotoSansCJKkr","Noto Sans JP","Noto Sans SC","Noto Sans KR",sans-serif !important;
}

.content_wrapper{
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 27rem 5rem 14rem;
}

.disclosure_wrap{
    .sub_tit_wr{
        h2{
            font-weight: bold;
            letter-spacing: -1.92px;
            margin-bottom: 3.6rem;
            text-align: center;
            font-size: clamp(2rem,3.8vw,3.2rem);
        }
    }
}

.com-gray_box {
    display: flex;
    align-items: center;
    min-width: 18rem;
    background-color: #f8f8f8;
    letter-spacing: -0.045rem;
    padding: 0 0.8rem;
    border-radius: 2.4rem;
    color: #292929;
    max-width: 40rem;
    height: 4.8rem;
    position: relative;

    @include mo{
        height: 3.7rem;
        max-width: none;
    }

    &.selectDateBox {
        width: 40.8rem;
        margin-left: 1rem;
        position: relative;
        justify-content: space-between;

        @include mo{
            width: 100%;
            margin-left: 0;
            min-width: auto;
        }

        .hyphen{
            position: absolute;
            left: 46%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input, select {
        color: #292929;
        border: 0;
        background-color: transparent;
        line-height: 4.8rem;
        font-weight: bold;
        @include fz15;
        &:focus {
            border: none;
        }
    }
    select {
        color: rgba(22, 22, 22, 0.5);
        z-index: 999;
    }
}

.btn-roundGrad {
    width: clamp(10rem, 10vw,16.5rem);
    line-height: 4.8rem;
    border-radius: 2.4rem;
    padding: 0 2rem;
    color: rgba(41, 41, 41, 0.9);
    font-weight: bold;
    @include fz15;
    letter-spacing: -0.09rem;
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid;

    @include mo{
        width: 100%;
        height: 3.7rem;
        line-height: 3.7rem;
        margin-top: 1.5rem;
        margin-left: 0;
    }
}

.xdsoft_datetimepicker table {
    table-layout: fixed;
}



.disclosure_soo {
    .table_default{
        &.type03 {
            tr{
                &:first-child{
                    background-color: #f8f8f8;
                }
            }

            th{
                &:first-child{
                    @include mo{
                        padding-left: 2rem;
                    }
                }
            }
    
            td{
                padding: 1.6rem 1.3rem;
                &:first-child{
                    @include mo{
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
    .sub_sort_wr {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgba(0,0,0,.05);
        border-bottom: 1px solid rgba(0,0,0,.05);
        padding: 5rem 0;
        margin-bottom: 4rem;

        @include mo_989{
            display: grid;
        }

        @include mo{
            padding: 4rem 0;
            margin-bottom: 4rem;
        }
        .txt_tit {
            @include fz16;
            font-weight: bold;
            letter-spacing: -0.096rem;
            color: #161616;
            margin-right: 2rem;

            @include mo_989{
                width: 6rem;
            }

            @include mo{
                display: none;
            }
        }


        .sort_priod_box {
            display: flex;
            align-items: center;
            .sort_input_wr{
                display: flex;
            }

            &.left_wr{
                @include mo{
                    display: block;
                }
            }
        }

        .sort_category_box {
            &.right_wr{
                @include mo_989{
                    margin-top: 1.5rem;
                    margin-left: 0;
                }

                @include mo{
                    display: block;
                }
            }
            .sort_select_box{
                width: clamp(15rem, 16vw, 31rem);

                @include mo{
                    width: 100%;
                }
            }
            display: flex;
            align-items: center;
            margin-left: 6rem;
        }
    }

    #pagination{
        li:not(.page_btn){
            width: 1.4rem;
            margin: 0 1rem;
        }
    }

    .month_s{
        .nice-select-wrap{
            z-index: 7;
        }
    }

    .nice-select-wrap {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        transition: background 300ms ease;
        border-radius: 23px;
        box-shadow: 0 0 13.5px 1.5px rgba(151, 132, 132, 0.08);
        background-color: #f8f8f8;
        position: absolute;
        left: 0;
        top: 0;

        @include mo{
            width: 100%;
            left: 0;
            top: 30px;
            margin: 2rem 0;
            border-radius: 10px;
        }
        
        &.down{
            background-color: #fff;

            .drop{
              color: rgba(22, 22, 22, 0.4);
            }
            
            .drop::after {
              background: url("/img/icon/drop_up_black.png") no-repeat 90% center;
            }
        }

        .drop, ul a {
            width:100%;
            display: block;
            text-decoration: none;
            color: rgba(22, 22, 22, 0.8);
            line-height: 4.8rem;
            height: 4.8rem;
            font-size: clamp(1.2rem,1vw,1.6rem);
            padding: 0 2.9rem;
        
            @include mo{
              height: 3rem;
              line-height: 3rem;
            }
        }

        .drop {
            position: relative;
            
            &::after {
              content: '';
              display: block; 
              height: 1rem;
              width: 1.7rem;
              pointer-events: none;
              position: absolute; 
              right: 1.5rem; 
              top: 50%; 
              background: url("/img/icon/drop_down_black.png") no-repeat 90% center;
              transform: translateY(-50%);
        
              @include mo {
                right: 1.5rem;
              }
            }
          }
    }

    .nice-select{
        display: none;
    }

    .list_pagination{
        margin-top: 7rem;
        @include mo{
            margin-top: 5rem;
        }
    }
}


.selectDateBox{
    position: relative;

    @include mo{
        margin-top: 1.5rem;
    }

    &.on{
        pointer-events: auto;
        cursor: pointer;

        &::before{
           display: none;
        }
    }
}

.input_period input{
    background: url(/img/icon/general_icon_calender.png) left center/36px no-repeat;
    padding-left: 5.4rem;
    padding-right: 4.7rem;

    @include mo{
        background: url(/img/icon/general_icon_calender.png) left center/26px no-repeat;
        padding-left: 3.4rem;
        padding-right: 0;
    }
}

.noti{
    a{
        text-decoration: underline;
    }
}

.nice-select-inner {
    margin: 0 auto;
    overflow: hidden;
    transition: background 300ms ease;
    width: 10rem;
    border-radius: 23px;
    box-shadow: 0 0 13.5px 1.5px rgba(151, 132, 132, 0.08);
      background-color: #eee;
    
    &.down {
      background-color: #fff;
  
      .drop{
        color: rgba(22, 22, 22, 0.4);
      }
      
      .drop::after {
        background: url("/img/icon/drop_up_black.png") no-repeat 90% center;
      }
    }
    
    .drop, ul a {
      display: block;
      text-decoration: none;
      color: rgba(22, 22, 22, 0.8);
      line-height: 2.8rem;
      height: 2.8rem;
      font-size: clamp(1.2rem,1vw,1.6rem);
      padding: 0 1rem;
    }
    
    .drop {
      position: relative;
      
      &::after {
        content: '';
        display: block; 
        height: 1rem;
        width: 1.7rem;
        pointer-events: none;
        position: absolute; 
        right: 1.5rem; 
        top: 50%; 
        background: url("/img/icon/drop_down_black.png") no-repeat 90% center;
        transform: translateY(-50%);
      }
    }
    
    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: visible;
      max-height: 20rem;
      overflow-y: auto;
      display: none;
          
      &::-webkit-scrollbar {
        width: 2px;  /* 스크롤바의 너비 */
      }
    
      &::-webkit-scrollbar-thumb {
          height: 5%; /* 스크롤바의 길이 */
          background: rgba(64, 64, 64, 0.5); /* 스크롤바의 색상 */
          
          border-radius: 10px;
        }
      
      &::-webkit-scrollbar-track {
        width: 50px;
        background: #fff;  /*스크롤바 뒷 배경 색상*/
      }
  
      &::-webkit-scrollbar-button:vertical:start:decrement,
      .sidebar.close > .copy-sub > .sub-menu::-webkit-scrollbar-button:vertical:start:increment {
          display: block;
          height: 25px;
      }
  
      &::-webkit-scrollbar-button:vertical:end:decrement {
          display: block;
          width: 25px;
      }
      
      a {
        position: relative;
        
        &:hover {
          background-color: #fff;
        }
      }
  
      &.select-ul{
        &.down{
          background-color: #fff;
        }
      }
    }
  }

  